build-local/
build/
matches/
models/
external/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
build.ninja
.ninja_deps
.ninja_log

*.o
*.obj
*.exe
*.out
*.pyc
__pycache__/

*txt
!docs/NEW_USER_GUIDE.txt
